# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# macOS
.DS_Store


.venv/
__pycache__/
*.pyc
.env
*.db
.vscode/